:root {
  font-size: 10px;
}

body {
  font-family: "Red Hat Text", sans-serif;
  text-align: center;
  font-size: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: hsl(235, 16%, 14%);
  background-image: url(/images/pattern-hills.svg), url(/images/bg-stars.svg);
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: 1980px auto;
}
.attribution {
  margin-top: 2rem;
  font-size: 2rem;
}
.clock {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: auto;
  column-gap: 3rem;
  max-width: 100rem;
  height: 30rem;
  margin-bottom: 30rem;
}

.tWrap {
  width: 20rem;
  height: 20rem;
  position: relative;
  color: hsl(345, 95%, 68%);
  box-shadow: 0px 10px 10px 2px rgba(0, 0, 0, 0.5);
  border-radius: 1rem;
  background-color: hsl(236, 21%, 26%);
}

.card {
  position: absolute;
  width: 20rem;
  height: 20rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 8rem;
  transform-style: preserve-3d;
}

.topAnimation {
  animation: turn 0.4s 0s linear both;
  clip-path: polygon(100% 0, 100% 50%, 0 50%, 0 0);
  background-color: hsl(236, 21%, 26%);
  z-index: 4;
  border-radius: 1rem;
}

.bottom {
  clip-path: polygon(100% 50%, 100% 100%, 0 100%, 0 50%);
  background-color: hsl(236, 21%, 24%);
  border-radius: 1rem;
}

.topNextAnimation {
  animation: turn2 0.4s 0.4s linear both;
  clip-path: polygon(100% 50%, 100% 100%, 0 100%, 0 50%);
  background-color: hsl(236, 21%, 24%);
  z-index: 1;
  border-radius: 1rem;
}
.topNext {
  visibility: hidden;
}

.bottomNext {
  clip-path: polygon(100% 0, 100% 50%, 0 50%, 0 0);
  visibility: hidden;
}
.invis {
  visibility: hidden;
}

.putOnTop {
  z-index: 10;
  visibility: visible;
}

.visibility {
  visibility: visible;
}

@keyframes turn2 {
  0% {
    transform: rotateX(-90deg);
  }
  100% {
    transform: rotateX(0deg);
  }
}

@keyframes turn {
  0% {
    transform: rotateX(0deg);
  }
  100% {
    transform: rotateX(-90deg);
  }
}

.shadowTop {
  animation: shadow 0.4s 0s ease-in both;
  background: linear-gradient(0deg, rgba(0, 0, 0, 1) 0%, rgba(52, 54, 80, 1) 100%);
  border-radius: 1rem;
}

@keyframes shadow {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.shadowBottom {
  animation: shadow2 0.4s 0.4s ease-out both;
  background: linear-gradient(0deg, rgba(48, 50, 74, 1) 0%, rgba(0, 0, 0, 1) 100%);
  border-radius: 1rem;
}

@keyframes shadow2 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

h1 {
  color: white;
  letter-spacing: 0.5rem;
  margin: 10rem 14rem;
  font-size: 3rem;
}

h2 {
  color: hsl(237, 18%, 59%);
  position: relative;
  bottom: 2rem;
}

.socials {
  display: flex;
  width: 125px;
  justify-content: space-around;
  margin-bottom: 4rem;
}

svg:hover path {
  fill: #d45072;
}

@media (max-width: 900px) {
  :root {
    font-size: 7px;
  }
  body {
    height: 100vh;
    justify-content: space-around;
    background-size: 168rem 45rem;
  }
}
@media (max-width: 500px) {
  :root {
    font-size: 3.75px;
  }
  body {
    height: 100vh;
    justify-content: space-around;
    background-size: 100rem 45rem;
  }
  h1 {
    font-size: 5rem;
  }
  h2 {
    font-size: 2.5rem;
    margin-top: 8rem;
  }
  .socials {
    margin: 1rem 0 4rem 0;
  }
  .attribution {
    font-size: 3rem;
  }
  a {
    color: hsla(345, 95%, 68%, 0.644);
  }
}
